body {
    background-image: url("a.jpg");
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #521010;
  }
  
  #quiz {
    margin: 20px auto;
    max-width: 500px;
    border: 1px solid #266ca5;
    padding: 20px;
    text-align: left;
  }
  
  button {
    padding: 10px 20px;
    background-color: #d87417;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
  }
  